[2020-07-13 18:22] juanmanuelramallo opened #356 "Multi-line strings as translations keys are not being properly recognized by the health task"
## Steps to reproduce
1. Create a call to I18n's translate like:
[code]
2. Define the translation in your locales
[code]
3. Call `bundle exec i18n-tasks health`

## Expected
To see in the output:
```✓ Good job! Every translation is in use.```

## Actual
Unused keys are displayed:
[code]

## Why the multi-line strings
We usually encourage the line length to be 100 chars max with a RuboCop rule, the

[2020-07-13 20:40] glebm commented on #356
Here is where the `I18n.t` calls are handled for `.rb` files, in case you want to give fixing it a go:

https://github.com/glebm/i18n-tasks/blob/0d0c16b11d0e0c7d5d7f920495dd214caacfd2b6/lib/i18n/tasks/scanners/ruby_ast_scanner.rb#L61-L88

[2020-07-13 20:44] juanmanuelramallo commented on #356
Yes it is an `.rb` file, hence the RuboCop cop complains.

Thank for the heads up! I'll try to invest some time on it later this week, or maybe in the weekend.

[2020-07-30 07:07] tomaadland commented on #354
I have the same problem with dynamic locales. Setting `search.strict` to `false` is not working.

@acetinick did you find a solution for this ?

[2020-07-30 09:17] tomaadland commented on #354
After a few hours of debugging I finally found the problem in my source.

One of the dynamic locales is an array lookup: `t("loopup.something.in.#{somearray["element"]}")` when this is compiled to key pattern it ends up with this result `(lookup\.something\.in\.somearray[|)` which makes the conversion to Regexp fail. The open bracket `[` is the culprit here.

Solution for my problem was to remove

[2020-08-26 21:42] agnostic-apollo commented on #217
For anyone whose trying to disable sorting when running `translate-missing`, add following in `i18n-tasks.yml`. It still seems to be undocumented and doesn't get added to the autogenerated `i18n-tasks.yml` file or as a `--keep-order` arg but at least it works. Thanks @deivid-rodriguez for the [commit](https://github.com/glebm/i18n-tasks/commit/1c9160c3b740aebb29fb66c9dde8430d7a4b7295), really didn

[2020-09-16 13:54] AlexanderZagaynov commented on #355
I also bumped with this issue, here is how it looks on Travis:

<img width="605" alt="Screen Shot 2020-09-16 at 3 48 23 PM" src="https://user-images.githubusercontent.com/7778414/93346894-c082b200-f834-11ea-879e-ec853cae847c.png">

[2020-09-21 04:29] rachid commented on #355
Exactly the same issue here!

[2020-09-28 16:57] gueorgui commented on #355
Also bumped into this. Using Circle CI and Linux for local dev.

[2020-10-09 13:24] fwolfst commented on #281
I have a similar problems with kind of preserving "front-matter" (e.g. license information). That should be easier to implement (copy the x lines at beginning of file that are yaml comments, run psych, re-add everything that was a yaml-comment).

[2020-10-09 13:32] fwolfst opened #358 "`unused` false positive with certain keys in haml files"
The i18n keys for activerecord model attributes (which are used by default for form labels) take the form of `activerecord.attributes.module/model.attribute_name` (e.g. `activerecord.attributes.blog/post.title` - with the slash being somewhat uncommon) when the model is nested within a module ( `Blog::Post` above, with the resulting weird i18n-key `... .blog/post. ...`).

These keys are not picked

[2020-10-09 13:48] fwolfst commented on #358
I can provide a failing test case (also its not specifically testing for this bug):
  * add a haml file fixture with a t('slashed.module/model.attribute')
  * add to controller file fixture t('slashed.module/model.other_attribute')

Only `slashed.module/model.other attribute` (from the controller file) will show up in the missing list, where both keys should appear.

[2020-10-13 06:12] bernb opened #359 "Find missing keys that contain spaces"
Task `missing` does not find missing keys that contain spaces, example: `<%= t('some key') %>`. Those are however valid keys (at least for `I18n::Backend::ActiveRecord`) and they get found by the translation backend if translations are added.
Context (layout file):
[code]

[2020-10-27 15:33] spyrbri commented on #355
The problem lies in the yaml gem which behaves differently on different operating systems.

[code]

[code]

[2020-10-27 17:45] gueorgui commented on #355
Just did a quick test on my local machine (Arch Linux) and on the Circle CI VM. Different behaviours despite similar systems:

### Local:

[code]

### Circle CI:

[code]

One difference that I can see is the much older kernel version on the Circle CI VM.

[2020-10-28 10:38] spyrbri commented on #355
The problem is with the libyaml versions. There is a difference on how the versions 0.2.4 and 0.2.5 handle the nil values.

An easy way to check the version of your libyaml version is the following:

[code]

[2020-11-20 14:34] zofrex opened #361 "It would be useful to have a way to ignore the text portion of `it` interpolations"
For example, this translation:

[code]

Fails the inconsistent interpolations check:

[code]

This is because everything between `%{` and `}` is being considered part of the interpolation variable name, but in this case it's only everything up to the `:`, because I'm using [it](https://github.com/iGEL/it).

I'm currently working around this by redefining the regex that recognises interpolation var

[2020-12-16 12:30] mvz opened #364 "How to require app to amend gem's translations with a new locale?"
I'm struggling with the following:

- I'm using a (private) gem that provides translations for the `:nl` and `:en` locales
- My app needs to also support the `:de` locale
- I would like to know if I've provided all needed translations for `:de`

How can I configure i18n-tasks to make this happen?

[2020-12-16 18:48] #364 closed

[2021-01-13 11:58] espen opened #368 "Ignore Liquid / Flexible interpolations filter"
I use Liquid in my translation files. Is it possible to ignore these tags when using Google Translate?

Example:

`Reminder: Reservation {% if booking.service != nil %}of {{ booking.title }} {% endif %}{{ booking.booked_from }}.`

Spanish:
`Recordatorio: reserva {% if booking.service! = Nil%} de {{booking.title}} {% endif%} {{booking.booked_from}}.`

Danish:
`Påmindelse: Reservation {% hvis bookin

[2021-01-13 13:54] glebm commented on #368
As a workaround, you could override `I18n::Tasks::BaseTranslator::INTERPOLATION_KEY_RE` in `config/i18n-tasks.yml`

[2021-01-18 09:44] afdev82 commented on #339
Or is it possible to exclude a complete translation file?

[2021-02-05 15:24] rebuilt commented on #189
Thank you.  I didn't know why it stopped working for me.  I removed the quotes from around my google API key and got it working again.

[2021-02-12 11:39] mildred opened #370 "Code incompatible with ruby 3"
https://github.com/glebm/i18n-tasks/blob/1d1f4205e66a48b41dda4225f29d7806674e0249/lib/i18n/tasks/command/dsl.rb#L13-L15

I believe it should be:

[code]

The error: ```i18n-1.8.8/lib/i18n.rb:196:in `translate': wrong number of arguments (given 2, expected 0..1) (ArgumentError)```

[2021-02-12 14:53] mildred opened #371 "Duplicate translations can cause unexpected behaviours (normalize removing many translations)"
I have a project with many duplicate keys in a single locale caused by a misconfiguration (some locale files were not included). After fixing the configuration, running `i18n-tasks normalize` dropped many translations (_44 files changed, 72 insertions(+), 1872 deletions(-)_)

I believe that a warning should be printed in such cases. It can be added in the following function:

https://github.com/gl

[2021-02-12 17:17] glebm commented on #371
Duplicate translations are common when they come from `data.external`.
If we want to print a warning, we should print it only for duplicate translations within `data.read`, which may be trickier.

Sounds good

[2021-02-26 00:11] nurbs999 opened #373 "Many false positives in unused"
I have quiet fresh Rails project and I get many false positives when I run `bundle exec i18n-tasks unused`
e.g. I have `<h1><%= t('welcome message h1') %></h1>` in my application.html.erb and I get this key as unused for all languages.
It's the same for many other translations I use in my views.

I use ruby-2.7.2, rails-6.1.0, i18n-tasks-0.9.33

[2021-03-04 09:31] MatthewKennedy commented on #370
I'm getting the same issues.

[2021-03-04 10:34] #370 closed

[2021-03-04 10:43] glebm commented on #370
Released v0.9.34

[2021-03-04 13:26] pelletencate opened #375 "Allow for shallow resolution of custom relative i18n keys"
Using the noticed gem, I have the following I18n use:

[code]

I18n resolves this key to `notifications.my_notice.super_key

To use it with I18n, I simply added `/app` to the configuration

[code]

I18n-tasks thinks this is a controller action, and resolves this key to `notifications.my_notice.to_twilio.super_key` which is not what Rails / I18n itself does.

How do I tell I18n-tasks to ignore the

[2021-03-04 18:39] glebm commented on #375
There is no way to do this currently.

This where i18n-tasks converts the relative key to an absolute one:

https://github.com/glebm/i18n-tasks/blob/2f44e17f1a291508452c5b95a5f13f7de708ee84/lib/i18n/tasks/scanners/ruby_ast_scanner.rb#L83

[2021-03-05 17:04] MatthewKennedy opened #376 "Scope Not Being Picked Up With Custom Pattern Matcher"
When using:

[code]

The scope is not getting picked up, any idea how to fix this?

`<%= Spree.t(:my_key, scope: 'date_picker')%>`
returns `spree.my_key`
expected `spree.date_picker.my_key`

[2021-03-08 00:26] MatthewKennedy commented on #376
I'm guessing this is due to the down scope.

[2021-03-08 00:26] #376 closed

[2021-03-08 01:55] glebm commented on #376
Yeah, `scope` is not supported with `PatternMapper`. You could try adding support but it may be better to just avoid `scope:` altogether.

[2021-03-08 02:10] glebm commented on #361
Let's make this an attribute on the Interpolations metaclass.

The `it` gem support is already configured with code, so we can then add this to the snippet in the "it" article (https://github.com/glebm/i18n-tasks/wiki/The-%22it%22-gem-support):

[code]

[2021-03-08 07:31] MatthewKennedy opened #377 "Not Detecting Keys That Contain A Slash"
I noticed keys that contain a slash:
[code]
Are not picked up.

Is this intentional or a minor bug?

[2021-03-09 22:23] MatthewKennedy commented on #377
Think this might be my mistake.

[2021-03-09 22:23] #377 closed

[2021-03-15 17:37] mattboldt opened #378 "How to handle Rails I18n fallbacks"
[According to these Rails docs](https://guides.rubyonrails.org/configuring.html#configuring-i18n), I have my i18n fallbacks configured in application.rb:
[code]
The intent here is if your locale is `:en_us`, it will use U.S. specific formatting for dates, currency, etc. but for everything else, it should fall back to the standard english translations. I'd like to do the same for `:fr_ca` and `:fr`

[2021-03-15 21:10] espen commented on #368
That did the job, awesome! Thanks for a flexible gem :)

[2021-03-15 21:10] #368 closed

[2021-03-22 04:32] toxaq commented on #348
For future Googlers: You probably need to rename `api_key` to `google_translate_api_key`

[2021-03-27 08:19] mtancoigne commented on #373
Hi !

I use version 0.9.34 but can tell it was already present on previous versions.

I got this yaml:
[code]

and a file with:
[code]

Which works as expected.

But once I target `one` or `other` key, the whole `fr.activerecord.model.genus` gets flagged as unused:

[code]
[code]

[2021-04-13 07:57] hidr0 opened #379 "missing not working when using custom form builders"
Hello,

We have a custom form builder, which generates a label for every field:

Eg:

[code]

Will generate a custom html, which inside will call `f.label` and thus need the key: `en.helpers.label.model.title`

Is there a way to tell the tool to look for these kind of fields, because I noticed that it does not do it I cannot resolve them easy?

[2021-04-13 09:13] hidr0 commented on #379
Whe I dug deeper I noticed that even

[code]

does not generate the missing key for: `en.helpers.label.model.title`

Am I doing something wrong?

[2021-04-13 09:35] hidr0 commented on #379
In a brand new project the only two new gems I use are:

[code]

The only html:
[code]

[code]

`i18n-tasks missing`
`✓ Well done! No translations are missing.`

I need the translation to be missing, because then I would have to add it to my second language. Because now It is not added in the second language and my tests pass, but I do not have a translation.

[2021-04-13 10:10] glebm commented on #379
i18n-tasks doesn't know what keys are used by these helpers. You can let i18n-tasks know either by passing the `t(...)` string explicitly or with an `i18n-tasks-use` comment https://github.com/glebm/i18n-tasks#fine-tuning

[2021-04-13 10:10] #379 closed

[2021-04-13 13:37] hidr0 commented on #379
Is there a way to write a custom parser? They are 4 field types max?

[2021-05-21 22:31] ryanb commented on #377
I'm running into this too. I'll make a separate issue since this is closed.

[2021-05-21 22:33] ryanb opened #380 "Not detecting keys with slashes"
It looks like keys with slashes are not detected. Is there a better way to handle these?

[code]

ActiveRecord uses slashes for both namespaces and nested associations.

Note: This is a duplicate of #377 but that was closed. Not certain why.

[2021-05-22 12:04] glebm commented on #380
This can probably be solved by adding the `/` here:
https://github.com/glebm/i18n-tasks/blob/881ed6f3d2aed94fa0aae050584f9cddc11536d7/lib/i18n/tasks/scanners/ruby_key_literals.rb#L23

[2021-05-27 18:55] nbdavies commented on #380
Spaces in the key name also prevent i18n-tasks from detecting it: https://github.com/glebm/i18n-tasks/issues/359

Maybe the same solution would apply?

[2021-06-04 09:09] nitsujri commented on #339
We need to ignore a specific language for pluralization.

i.e. Vietnamese doesn't have a concept of `one`

en:
  errors:
    record_count:
      one: there is one record
      other: there are %{count} records

In VI or ID we don't have `one`. `i18n-tasks missing` always complains about the one key missing from VI or ID.yml files.

[2021-06-07 00:46] nitsujri commented on #331
Language specific `ignore_missing` doesn't work yet: https://github.com/glebm/i18n-tasks/issues/339

[2021-06-15 21:05] javierm commented on #375
I'm facing a similar issue when using the view_component gem. I'm using relative keys inside component methods, while also avoiding the `_component` suffix in the YAML files. So far I've added `app/components` to `relative_roots` and then used this monkey-patch.

Do you know whether there's a better way to do this? :thinking: Thanks!

[code]

[2021-06-15 23:09] glebm commented on #375
There is no way to do this currently other than by monkey patching like above, PR welcome

[2021-06-22 16:02] james-em opened #383 "Support for multiline string?"
Hi,

Sorry in advance if it was already asked. I was wondering if there was a way to prevent this behavior:

[code]

to become

[code]

![Screen Shot 2021-06-22 at 12 02 16 PM](https://user-images.githubusercontent.com/63726983/122960717-b0fb4100-d351-11eb-8341-63d4fae08e7b.png)

Thank you !

[2021-06-28 12:14] trusche commented on #378
I'd also be interested in this. We use fallbacks heavily for local variants of the same language, and without i18n-tasks being fallback aware, we can't really make use of it, which is a shame - great tool!

[2021-07-02 17:36] feliperaul commented on #140
@glebm since tree-rename-key doesn't exist anymore, how one would perform this task with the most recent version? It's not obvious to me 😬

[2021-07-15 10:49] JohnRDOrazio commented on #321
Would anyone have the skill to write a similar scanner for extracting form labels for resources? The documentation for [ActionView::Helpers::FormHelper](https://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-label) states:

So you should be able to create a translation for a **title** label on a **post** resource like this:

_app/views/posts/new.html.erb_
[code]

_config/l

[2021-07-15 11:30] JohnRDOrazio commented on #321
Well I've actually come up with a solution which does not handle all use cases, it does however handle the basic use case for what's generated from the **scaffolding generator**, basically forms and labels of this type: `<%= form.label :username %>`:

[code]

[2021-07-27 08:50] fpietka opened #385 "Relative keys from root folder not detected"
I have multiple keys defined as `.my_translation_key` in a model for example, but those keys are in the root of my yaml files.

It works in Rails, and get translated correctly, but using i18n-tasks, those keys are detected in both missing `my_translation_key` and unused `.my_translation_keys`.

I tried both `path` and `relative_roots` in `search` configuration, with no luck.
I would prefer not to

[2021-07-27 22:59] ryanb commented on #375
Instead of the monkey patch for `view_component`, I used this config setting.

[code]

It would be nice to have more control over the relative path per directory in i18n-tasks.

[2021-08-16 10:17] afdev82 opened #387 "Health task fails only in CI"
Hi all,
I have a very strange issue.
If I run in the GitLab CI the `health` task, it fails:

[code]

But locally on the same commit it's OK

[code]

Any idea how to fix that?
Thank you for your support.

[2021-08-16 11:50] glebm commented on #387
Ensure that Ruby and libyaml versions are the same on CI and locally.

[2021-08-16 12:28] afdev82 commented on #387
Hi,

I checked the ruby version and it's the same:

[code]

Regarding `libyaml`, do you mean [this library](https://github.com/yaml/libyaml)? How could I check its version?

[2021-08-16 12:48] afdev82 commented on #387
I've run  locally:

[code]

and on CI:

[code]

[2021-08-25 09:25] arusa opened #388 "Allow using rails credentials to set translation api keys"
I couldn't find a way to use encrypted rails credentials to set the deepl api key.

After searching through the source code I found something that isn't documented in the README.md:

[code]

That way I could probably inject the deepl_api_key into my pipeline.

But how can I configure the deepl_api_key in development without having to commit it plaintext to git?

Maybe also check something like Rai

[2021-08-25 14:28] afdev82 commented on #387
I don't know why, but the issue is not there anymore... I will close this issue.

[2021-08-25 14:28] #387 closed

[2021-08-30 11:55] zealot128 commented on #322
Thanks for the tip. Because the IGNORE_LINES is frozen, i cannot modify IGNORE_LINES directly, but have to inherit from PatternScanner and reset it in an initializer.

[code]

To make globs work in the use, one cannot use "*" but must simulate ruby in the comment:

[code]

[2021-09-07 17:07] npresco opened #390 "Google translate is translating `zxzxzx` from 'en' -> 'fr'"
In order to avoid translating any interpolation, `i18n-tasks` replaces the interpolation with `zxzxzx` (plus a counter if there are many interpolated variables). Google translate however has a strange bug when `zxzxzx` is asked to translate from `en` to `fr`, it translates it to `zxzxxx`. So afterwards, when the interpolation is supposed to replace `zxzxzx` with the original interpolation, it fail

[2021-09-09 16:03] #390 closed

[2021-09-11 16:32] redsummernight commented on #281
The gem depends on Psych, which depends on libyaml, which currently doesn't support parsing and writing comments; ftr https://github.com/yaml/libyaml/issues/42 is the upstream issue to watch.

[2021-10-15 23:18] yubele opened #393 "Does not work when `errors.add`."
I have added the following to my model, but ` i18n-tasks add-missing` and ` i18n-tasks remove-unused` did not work for this description.

[code]

If you have a solution, please let me know. If not, we will consider PR.

[2021-11-05 02:29] ndbroadbent opened #395 "Request: Support for `dotenv-rails`, to load `GOOGLE_TRANSLATE_API_KEY` from `.env.development`"
Hello, I use the `dotenv-rails` gem to define configuration vars in `.env`, `.env.test`, `.env.development`, etc. This doesn't seem to be working with `i18n-tasks`. I've set `GOOGLE_TRANSLATE_API_KEY` in my `.env.development` file, but it looks like `i18n-tasks` doesn't load the Rails environment, so I get this error:

[code]

It would be nice if `i18n-tasks` could work together with `dotenv-rails

[2021-11-06 12:40] schepens83 commented on #388
Would be great to have this. Although I can't get it to work as is.

I followed the instructions from the readme and added the credentials to config/i18n-tasks.yml, but running bundle exec i18n-tasks told me to install the deepl-rb gem. Doing that it still complains about authorization failed. Key is working. A curl command and an instance of DeepL in rails console are giving me translations. Usin

[2021-11-06 12:42] glebm commented on #388
@schepens83 You may need to use the main branch instead of the latest release for this to work

[2021-11-06 12:48] glebm commented on #388
I've just released v0.9.35 from the current main

[2021-11-06 12:50] schepens83 commented on #388
Thanks, that did indeed fix it!

[2021-11-08 22:30] ryanb commented on #380
@nbdavies I haven't had time to research when/where a space is allowed in a key, but I made a PR for a forward slash: #396. Feel free to do something similar for a space character if you need it.

[2021-11-08 22:31] #380 closed

[2021-11-10 09:59] cooljl31 commented on #383
Hi! I'm having the same problem running the `i18n-tasks normalize`.

[code]

I think for that we need an option to disable the conversion `" => '`

[2021-11-10 20:55] ariel-codes commented on #378
Hey, if anyone's still dealing with this problem, here's a simple workaround:
[code]

Obviously it depends on having already loaded Rails' I18n, but in the context of running the task inside your integration tests it works fine.

[2021-11-18 16:12] simonfranzen commented on #388
Hey,
I have installed version `0.9.35` and it's not possible to connect with deepl api. I have a pro account, but non of standard or free api is working.

**First try:**
[code]
Error:
`.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/deepl-rb-2.3.1/lib/deepl/requests/base.rb:65:in validate_response!': Authorization failed. Please supply a valid auth_key parameter. (DeepL::Exceptions::AuthorizationFa

[2021-11-18 22:59] glebm commented on #388
I don't think your comment is related to this issue in any way? Please open a separate issue.

[2021-11-20 10:59] #354 closed

[2021-11-23 19:03] ryanb commented on #393
@yubele you can add `i18n-tasks-use` in comment where you have dynamic key generation.

[code]

This way i18n-tasks will recognize it. This can be done other dynamic key generation such as label fields.

[2021-12-08 09:59] noefroidevaux opened #400 "i18n-tasks seems not working with Rails/ActiveSupport 7 RC1"
Hello,

Thank you for this great library!

Since the update to Rails 7 RC1 (with Ruby 3.0.3) I have the following error:

[code]

I'm not sure if it's a problem in this library or ActiveSupport. But the other libraries/tasks works well. On Rails 7 alpha 2, `i18n-tasks` worked well, it's only since the RC1.

[2021-12-09 11:28] uxxman commented on #400
Having same issue since upgrading from 7.alpha2 to 7rc1

[2021-12-13 09:42] microstudi opened #401 "Mixed optional and keywords arguments in BaseTask"
PR https://github.com/glebm/i18n-tasks/pull/394 introduced a new argument in `BaseTask`:
https://github.com/glebm/i18n-tasks/blob/1b9e0465e984df8f7890f620b0bbb6646d40d77f/lib/i18n/tasks/base_task.rb#L42

The problem is that uses  a keyword argument after an optional argument. This leads to situations where backward compatibility is broken. For instance, this used to work fine:

[code]

Now it thro

[2021-12-14 08:37] microstudi commented on #401
will do! thanks

[2021-12-15 01:29] #401 closed

[2021-12-15 16:07] lorenzk commented on #395
@ndbroadbent Just an idea: I recently found https://direnv.net/, which is a more general solution to the same problem and should fix your problem as well.

[2021-12-16 10:50] alec-c4 commented on #400
same situation for rails 7.0.0

[code]

[2021-12-17 03:18] #400 closed

[2021-12-20 11:20] navidemad opened #406 "Bump version rubygems for Rails 7 support"
Hello,

Thanks again for your awesome gem.

Could you push the new version with the commit : [Fix compatibility with ActiveSupport 7+](https://github.com/glebm/i18n-tasks/commit/4799bb00e50d3712d1b9fb9c60999f3c80a3ff3a) into rubygems.

Otherwise we have to reference the github main in our Gem if we are running with Rails 7.0.0

[2021-12-21 05:55] glebm commented on #406
v0.9.36 released

[2021-12-21 05:55] #406 closed

[2021-12-22 13:34] manaka opened #407 "Painfully slow in rspec with version 0.9.36"
We have couple tests using i18n-tasks ( https://gist.github.com/manaka/2a6f32b11853f1f31709247ed682403f )
After update from 0.9.35 to 0.9.36 it takes 73 minutes to finish this tests, before update it takes 1 and half minute.
Also same problem with 0.9.35 if switch ruby from 2.7.3 to 3.0.3 or 3.0.2
What can i do to try find source of the problem?

[2021-12-22 13:40] glebm commented on #407
You can run `i18n-tasks` under a profiler such as [rbspy](https://github.com/rbspy/rbspy) or [ruby-prof](https://ruby-prof.github.io/) to identify where it is spending all this time

[2021-12-22 14:43] glebm commented on #407
Install rbspy per these instructions https://rbspy.github.io/

Then, run:

[code]

[2021-12-22 15:09] davidwessman opened #408 "Possible regression in 0.9.36"
Hello!

I have a translation that is caught by `i18n-tasks missing` incorrectly in 0.9.36 but not in 0.9.35.

I reproduced it in the gem's test suite by adding:

[code]

to the end of `spec/fixtures/app/views/index.html.slim`.

When it tries to match

[code]

it will not get `a.b` but the rest of the file, but only if I add my code afterwards.

It passes on 0.9.35 but not on 0.9.36.

[2021-12-22 15:12] davidwessman commented on #408
Based on a `git bisect` this was introduced in [0885805912fbd7450ac4ccc74e1bac6e11b65d1a](https://github.com/glebm/i18n-tasks/commit/0885805912fbd7450ac4ccc74e1bac6e11b65d1a)

@otoyo Do you have any guesses to what we need to change?

[2021-12-22 18:32] manaka commented on #407
That's what I gets:
`Time since start: 2410s. Press Ctrl+C to stop.
  Summary of profiling data so far:
% self  % total  name
46.12    94.78  block (2 levels) in associate - /Users/manaka/Work/awesome_project/vendor/cache/ruby/2.7.0/gems/parser-3.0.3.2/lib/parser/builders/default.rb
25.03    48.66  == - /Users/manaka/Work/awesome_project/vendor/cache/ruby/2.7.0/gems/ast-2.4.2/lib/ast/node.rb
19.94

[2021-12-22 19:44] geoffharcourt opened #409 "New `--config` option doesn't appear to work."
The `--config` option to specify an alternate location for the configuration file doesn't appear to be accepted in either 0.9.35 (where it was added) or 0.9.36.

[code]

[2021-12-22 19:50] glebm commented on #409
@krtschmr Can you please have a look?

[2021-12-22 23:35] otoyo commented on #408
@davidwessman I have pushed https://github.com/glebm/i18n-tasks/pull/410 to revert.

[2021-12-23 02:11] glebm commented on #408
@otoyo For more robust parsing of ERB, it may be better to write a separate `ErbScanner` class. The scanner could run an actual Ruby parser on the `<% %>` blocks. With some refactoring it may be possible to reuse most of `RubyAstScanner` for that.

[2021-12-23 03:15] otoyo commented on #408
Yes, I think so too. I should have been separate regexp to `ErbScanner`.
Thank you for merging fix.

[2021-12-23 11:06] davidwessman commented on #408
How can we make it work for slim as well as erb? The code I sent triggered this in a slim file. Please reach out if you want my help to test anything. Thank you for your work!

[2021-12-26 07:46] glebm commented on #408
Released v0.9.37 for now with the revert

[2021-12-26 07:46] #408 closed

[2021-12-27 13:34] manaka commented on #407
I find out that parser update (3.0.2.0 → 3.0.3.2) is breaking working before 0.9.35

[2022-01-05 14:53] glebm commented on #407
@manaka Please file an issue in https://github.com/whitequark/parser/

I've edited your comment to use triple backticks instead of a single backtick and now it's readable here as well

[2022-01-17 14:43] WaKeMaTTa commented on #174
Conclusion:

[code]

to have the same formatting as rails.

[2022-01-18 13:10] colinbruce opened #412 "Aliases failing in missing_keys"
Since updating to Ruby 3.1 we are running into an issue with Psych not allowing aliases by default https://bugs.ruby-lang.org/issues/17866

This manifests as
[code]

Changing https://github.com/glebm/i18n-tasks/blob/main/lib/i18n/tasks/data/adapter/yaml_adapter.rb#L12 to
[code]
Allows us to load and run I18n-tasks.

I'm trying to add a test but I'm struggling with creating fake data that will test

[2022-01-18 13:15] glebm commented on #412
Alternatively, we have an existing file with the data layer tests here:

https://github.com/glebm/i18n-tasks/blob/933ce62ee99fdd041d0ecaec0c3784f315f328c6/spec/file_system_data_spec.rb#L65

[2022-01-19 08:48] colinbruce commented on #412
I have split the PR into two, implement Ruby 3.1 and a separate test and fix for the Psych update issue.
Would you rather have a single PR with both?

[2022-01-20 23:39] #412 closed

[2022-02-11 04:48] yubele commented on #393
@ryanb Thanks for your information.

[2022-02-11 04:48] #393 closed

[2022-02-22 07:20] dssjoblom opened #417 "DeepL translates variable names"
When using the DeepL API via i18n-tasks, variable names sometimes end up translated as well. From looking at the code, there seems to be an attempt to avoid this, but it doesn't work reliably. As a rough estimate, ca. 10% of variables end up translated. It also seems to be the same variables regardless of output language, as I've tried this with English to both French and German now, with the same

[2022-02-23 08:20] timdiggins opened #418 "a way to mark "Inconsistent interpolations" as ignored?"
We're using `i18n-tasks health` as a check, but some inconsistent interpolations are actually ok, e.g.

because in italian, the translation is

      posts_count:
        one: Ha commentato una volta
        other: Ha commentato %{count} volte

as opposed to in english

[code]

etc.

We could change the usage in `one:` to not use count in each language, or we could make sure that %{count} is used

[2022-02-23 10:41] dssjoblom commented on #395
This would be good for DeepL as well, which can't be controlled by environment variables at all.

[2022-02-24 22:38] yorsant opened #419 "Normalize keeps `---` but removes `...` for yml files"
I have noticed that normalizing files removes the three dots (`...`) at the end of every file.
Is it possible to keep them?

[2022-02-24 22:55] yorsant commented on #419
[code]

This may be the reason why.

I think it used to be like (based on doc page):
[code]

[2022-02-26 09:28] glebm commented on #418
i18n-tasks does support ignoring this but it's not documented!

https://github.com/glebm/i18n-tasks/blob/d7ae6e6e9158ae7581c1e36079eb32117d4aa77f/lib/i18n/tasks/interpolations.rb#L13

[2022-02-26 10:04] timdiggins commented on #418
Thanks!

[2022-02-26 10:04] #418 closed

[2022-03-14 21:25] #348 closed

[2022-03-22 23:34] #350 closed

[2022-03-23 16:35] eligordon opened #422 "better_html scans any project that uses i18n-tasks"
With v1.0.0 of `i18n-tasks` included in my project, `better_html` is now scanning (and occasionally criticizing the HTML markup of) the files in my project and any other gems that I use on render. I doubt this is the effect you wanted. Perhaps you only need to `require 'better_html/parser'`?

(@davidwessman)

[2022-03-23 18:14] davidwessman commented on #422
@eligordon Can you elaborate on how to reproduce it?
Please include:
- What you define in your Gemfile (do you use better_html already?)
- What command you are running?

I did a pr on #423 that might fix it.

[2022-03-24 02:13] jsantos commented on #422
Bumped into this after upgrading to 1.0.0. I didn't used better_html before the upgrade, so now it breaks the dev environment (at least) just because of some double quotes are used to define conditional classes. Will rollback until #423 is merged :) Thanks for all your work!

[2022-03-24 08:01] davidwessman commented on #422
How do you use `i18n-tasks`? Are you importing it to create a test / spec?
I cannot reproduce it on locally :/

[2022-03-24 09:02] #422 closed

[2022-03-24 09:16] pavel-workpath commented on #422
We are having a similar issue in our specs on 1.0.0

We basically use a copy of [the template spec](https://github.com/glebm/i18n-tasks/blob/main/templates/rspec/i18n_spec.rb), and it seems that after that every template we render during testing get validated by `better_html`. Which is unexpected

Thanks for checking it and looking forward to that 1.0.1!

[2022-03-24 09:18] glebm commented on #422
I released 1.0.1 a few minutes ago!

[2022-03-24 09:24] davidwessman commented on #422
Ah, I will see if I can write a spec for this. Can you try 1.0.1?

[2022-03-24 09:34] pavel-workpath commented on #422
Thanks guys! The 1.0.1 looks fine, both specs and tasks work as they did before the update

[2022-03-24 11:52] mvz opened #424 "With the new parser, some key usage is not found"
With the update to version 1.0.0 (and still with 1.0.1), I started to get some new reported unused keys. I have confirmed that these are in fact used, and it seems they're all used in keyword arguments for method calls that take blocks. For example, in the following code the `.edit` key is not found and its corresponding translation is reported as unused.

[code]

[2022-03-24 16:32] #424 closed

[2022-03-24 16:36] cbeer opened #426 "I18n::Tasks::CommandError: [...] undefined method `to_range' for nil:NilClass"
With v1.0.1, I'm seeing this error:

[code]

From parsing a file like:

[code]

[2022-03-24 16:39] cbeer commented on #426
Yes, it is.

[2022-03-24 16:39] glebm commented on #426
@davidwessman Can you please have a look?

[2022-03-24 20:07] davidwessman opened #428 "Automatic formatting"
Hello 🙂

I was thinking that it would be great to add some automatic formatting, rubocop is not enforced or used to format right now.

There are a few alternatives, I think we should add a commit-hook to automatically run on staged changes and:

1. Use rubocop for formatting.
1. Use [standardrb](https://github.com/testdouble/standard).
1. Use [prettier/plugin-ruby](https://github.com/prettier/plug

[2022-03-24 21:00] #426 closed

[2022-03-24 21:02] glebm commented on #426
Released v1.0.3

[2022-03-24 21:04] cbeer commented on #426
Thank you!

[2022-03-24 21:05] mvz commented on #424
Thanks for fixing this, @davidwessman!

[2022-03-25 08:11] djfpaagman opened #429 "Rspec tests fail on views with erb comments with single quotes"
I found that 1.0.x fails for me, and narrowed it down to erb comments that have single quotes in them, for example when used as a apostrophe in a sentence.

This is the simpelest test case I can make that reproduces the error:

[code]

[code]

The rake tasks do work properly.

[2022-03-25 08:17] davidwessman commented on #429
Might have time to look at it today.

@glebm would it make sense to rescue in the parser and skip that node if it fails? E.g. if there is "wrong syntax" it will miss translations on that row as well? Should we print an error message?

[2022-03-25 08:22] glebm commented on #429
@davidwessman But why is it parsing a comment?

[2022-03-25 08:25] glebm commented on #428
We already do have .rubocop.yml, it is not yet enforced though.

The simplest would perhaps be to add a GitHub Workflow similar to this Travis CI job
https://github.com/thredded/thredded/blob/dd39074a8c2ea2bd406f14159c6756e0d7687c52/.travis.yml#L16-L26

[2022-03-25 08:29] glebm commented on #417
One option would be to treat even text translations as XML.

We'd need to HTML-escape them before sending to DeepL.

With XML translations, DeepL supports this natively.

[2022-03-25 09:14] glebm commented on #429
Putting a space between a `%` and `#` makes it work:

[code]

Looks like a bug in the parser somewhere.

Without a space we get this in handler missing for `node.inspect`:

[code]

With a space we get:

[code]

[2022-03-25 09:32] davidwessman commented on #429
Ah, that seems to be a limit in better-html :/ I guess we could handle that AST-node for now

[2022-03-25 09:34] glebm commented on #429
@davidwessman I've given it a go at #430

[2022-03-25 09:38] #429 closed

[2022-03-25 09:41] glebm commented on #361
Released v1.0.4, wiki article updated

https://github.com/glebm/i18n-tasks/wiki/The-%22it%22-gem-support

[2022-03-25 09:41] #361 closed

[2022-03-25 09:41] glebm commented on #429
Released v1.0.4

[2022-03-25 09:51] djfpaagman commented on #429
Thanks @davidwessman and @glebm for the super fast follow up :+1:

[2022-03-25 15:44] djuber opened #431 "Parser Error when erb comment tags span multiple lines"
I noticed (initially when checking 1.0.2, but confirmed still in 1.0.4) an issue where multi-line comment tags like [the following](https://github.com/djuber/parser-error-reproduction/blob/main/app/views/layouts/application.html.erb#L11-L13)

[code]

are recognized correctly by ERB and render correctly (don't render at all, the entire content is commented), but a parser error is raised when [runni

[2022-03-26 10:07] glebm commented on #431
Where is this syntax specified? Naively, it seems invalid, since `<%` indicates Ruby and code and comments don't work like that in Ruby.

[2022-03-26 10:08] glebm commented on #431
/cc @davidwessman

[2022-03-26 10:25] #431 closed

[2022-03-26 10:27] glebm commented on #431
Released v1.0.5

[2022-03-26 10:51] davidwessman commented on #431
https://ruby-doc.org/stdlib-3.1.1/libdoc/erb/rdoc/ERB.html

From `Recognized tags` ERB recommends not using ruby comments:

[2022-03-28 07:25] djfpaagman opened #434 "Rspec fails with undefined method `encode' for nil:NilClass in very specific case"
1.0.5 still fails for more (after the fix of #429), this time It's a bit of a weird one.

The file below makes it reproducabily fail for me. It's the smallest example I can craft that makes it fail, based on the actual file that breaks my build.

Note:
* The x is a '[multiplication sign](https://en.wikipedia.org/wiki/Multiplication_sign)' utf-8 character, without it it does not make the test fail.

[2022-03-28 14:52] afdev82 opened #435 "Clarify the sintax for magic comments in ERB files"
Hi all,

I've just upgraded to v1 (1.0.5) and I noticed that the health task now is failing due to some unused translations.
E.g., this piece of code was fine with the v0.9.37:

[code]

Now if I run `bundle exec i18n-tasks health`, I'm getting unused keys warnings:

[code]
I noticed that if I write the code in different ways I'm getting different results:

[code]
[code]
In this way I'm still getti

[2022-03-28 15:05] afdev82 commented on #435
If I use the last syntax, then the code gets parsed by [erb-lint](https://github.com/Shopify/erb-lint) and I get errors there about wrong indentation, so I'm in a loop :see_no_evil:

[2022-03-28 15:17] afdev82 commented on #435
I've just found that if I write in this way

[code]
changing the closing tag to `-%>` and use # for all magic comments, it's working.
But it seems more an hack than a solution.

[2022-03-28 16:00] davidwessman commented on #435
Yes, we need to decide on a format!

[2022-03-28 16:58] glebm commented on #435
Ideally we'd support all of the above

[2022-03-28 19:11] djuber commented on #431
Thank you for the quick turn-around!

[2022-03-29 06:50] davidwessman commented on #435
I have started working on handling the ERB-comments differently that should help for both this issue and #434 but did not manage to get it completely working yet.

[2022-03-31 19:32] davidwessman commented on #435
@glebm Should all of these formats be supported?
I am thinking that I will make the erb-ast-parser handle as many of these cases as possible, maybe the first cases with ruby-comments inside one erb-tag can be handled by the normal comments-matching?

[code]

[2022-04-01 00:01] glebm commented on #435
Yeah, I think all of the above are variations of how people write ERB comments, so they should ideally all be supported

[2022-04-01 05:33] davidwessman commented on #435
I got very confused when trying to fix both #434 and this one at the same time, but will try to tackle this one when #437 is merged.

[2022-04-01 20:30] #434 closed

[2022-04-02 07:31] davidwessman commented on #435
@glebm I think #437 solves this issue as well, I added some more tests in #440 and it seems to work okay.

[2022-04-02 07:32] davidwessman commented on #435
@afdev82 could you try to install from the main-branch and see if it works better for you now?

[2022-04-03 08:07] davidwessman commented on #419
Hello @yorsant

- Can you check which implementation you are using for `YAML`?
  E.g. in my Rails app it looks like:
[code]

- Can you check which version of `libyaml` you are using?
[code]

I think these issues might be similar:
https://github.com/yaml/libyaml/issues/46
https://github.com/Locale/localeapp/issues/178

Can you try to update to libyaml 0.2.5 or later and then reinstall your rubies a

[2022-04-03 08:09] davidwessman commented on #409
@geoffharcourt Is it still applicable for the latest version?

[code]

[2022-04-03 08:42] davidwessman commented on #383
@james-em

Does it work if you change to use the pipe-operator instead?
[code]

If I do `YAML.load(File.read("./james_example.xml"))` the new lines are already gone, but if I use `|` instead of `>` it works better.

[2022-04-03 08:45] davidwessman commented on #359
@bernb What does your translation source look like?

[2022-04-03 08:48] davidwessman commented on #419
Possible duplicate of #355

[2022-04-03 08:51] davidwessman commented on #337
This would require an AST-parser, not sure what is possible with the Slim::Parser.
I have just done the work to implement an AST-parser for ERB:
https://github.com/glebm/i18n-tasks/blob/main/lib/i18n/tasks/scanners/erb_ast_scanner.rb

[2022-04-03 08:53] davidwessman commented on #335
@glebm close by #357 ?

[2022-04-03 08:53] davidwessman commented on #331
@glebm Closed by #389 ?

[2022-04-03 09:01] davidwessman commented on #385
@fpietka Can you give an example of a YAML-file with the translations and a small model where you call it?

[2022-04-03 12:08] glebm commented on #335
Yep!

[2022-04-03 12:09] #335 closed

[2022-04-03 12:11] #331 closed

[2022-04-03 16:02] geoffharcourt commented on #409
@davidwessman I'm not sure why, but in multiple environments we're still seeing this issue:

[code]

This happens if I run the gem (same version) from the system installation (not from bundler) we get the same behavior.

[2022-04-04 08:31] davidwessman commented on #435
@glebm Can we release a new version with these fixes?

@afdev82 You cannot mix ERB-comments (`<%# %>` ) with ruby-comments (`# i18n-tasks-use t('what')`).

So your examples would only work if you add a space before `<%#` -> `<% #` or remove the surplus `#` on each row inside `<%# %>`

[2022-04-04 08:33] afdev82 commented on #435
OK, I didn't know that.
Then it's all fine!

[2022-04-04 08:36] davidwessman commented on #435
Oh, no worries! I had to find out the difference for this issue.

[2022-04-04 10:04] glebm commented on #435
Released v1.0.6!

[2022-04-04 10:04] #435 closed

[2022-04-04 15:28] tim-s-ccs opened #441 "Scanner raises `Missing translations` if scope is a variable in `v1.0.6`"
I was updating to use this latest version of this gem (`v1.0.6`) and it raised some `Missing translations` where it had not done previously.

The areas where it raised this are where we are using a variable to hold the value of the scope (as not to repeat ourselves).

Below is an example of what my code looks like and the results of running the `health` task:
[code]
_The message that is raised_:
[

[2022-04-04 16:04] glebm commented on #441
You do have `strict: false` correctly set in the config, right?

https://github.com/glebm/i18n-tasks/blob/fed0923ea20864f39e8bf93ec8384164b08c18ba/templates/config/i18n-tasks.yml#L85-L86

/cc @davidwessman

[2022-04-05 06:43] #441 closed

[2022-04-05 07:43] tim-s-ccs commented on #441
Thanks for looking at this. I can confirm that my issue is fixed in `v1.0.7`

[2022-04-05 09:53] afdev82 opened #443 "New unused warnings after update to v1"
I open a new issue since I'm not sure it's related to already opened issues about false positive unused translations.
Before v1 I had no warnings (v0.9.37), now I'm getting some unused translations that are used in `erb` files, such:

[code]

Some translations in the same file are found, like `attributes.created_at` or `admin.statistics.name`.
Others not, like `admin.statistics.country` and `admin

[2022-04-05 10:25] davidwessman commented on #443
Seems like good examples to add to the ERB-test suite! 🙂

[2022-04-05 15:21] davidwessman commented on #443
Ah, that makes sense!

[2022-04-06 07:13] schinery opened #444 "Error scanning file.rb: undefined local variable or method `config'"
I've just upgraded from 1.0.5 to 1.0.7 and got the following error when running either the `missing` or `unused` task.

[code]

When looking at the file that now throws an error it was doing something like:

[code]

Any ideas why this parsed ok in 1.0.5 but not in 1.0.7?

[2022-04-06 07:16] schinery commented on #444
FYI to keep using the 1.0.7 I changed the `from` method to return the actual I18n value like so:

[code]

I can live with this, just intrigued as to what might of changed to cause it to now error.

[2022-04-06 07:16] davidwessman commented on #444
Ah, I think it is a typo by me when trying to fix a previous error.
I will look into this 🙂

[2022-04-06 09:53] #444 closed

[2022-04-08 14:06] yorsant commented on #419
@davidwessman I'm using an old version of `YAML.libyaml_version`. Thanks, I'll check if updating solves the issue.

[2022-04-10 12:35] #428 closed

[2022-04-25 04:09] joemasilotti opened #452 "Compatibility with View Component"
I can't get i18n-tasks to recognize strings in my View Components when using the shorthand dot syntax.

[code]

[code]

I have the following relevant configuration.

[code]

---

Removing the `relative_exclude_method_name_paths` configuration the health check output _adds_ the following ("Unused keys" remains).

[code]

[2022-04-25 12:58] dsimardmtm commented on #387
I had the same error. Everything was OK locally and some files were flagged by `i18n-tasks check-normalized` on the CI server. In my case, it's Bitbucket Pipelines.

The `libyaml` version (see above: `dpkg -l | grep libyaml`) are the same. Ruby versions also the same.

The difference are in the empty translations. See

![image](https://user-images.githubusercontent.com/96206840/165093223-d5978e17-

[2022-04-25 14:11] afdev82 opened #453 "Patterns in JS"
I'm using the [i18n-js](https://github.com/fnando/i18n) gem/package to use the translations also in JS and till now I don't really understand which patterns are recognized by the scanner, I was always getting unused translations.
There are [several possibilities](https://github.com/fnando/i18n#translating-messages) to specify the translation in JS (and interpolate strings too).
To avoid to interpo

[2022-04-28 10:38] afdev82 commented on #267
For me it doesn't work also with scope as the first option.
I have something like that in one model:

[code]

and I'm getting unused translations for that scope.
Let me know if I can help to debug this issue, thank you.

[2022-05-05 15:30] davidwessman commented on #452
@glebm I cannot find any code for understanding what a ViewComponent.
Is there any default behaviour that should catch these paths?

[2022-05-05 17:57] davidwessman commented on #452
Ah, yes - thank you! But I was thinking about in the I18n-tasks codebase.

[2022-05-06 14:15] joemasilotti commented on #452
I don't think there's anything in the codebase _preventing_ compatibility. My guess is that there's something not working with inferring the correct keys when matching strings.

[2022-05-06 14:41] joemasilotti commented on #452
That's what I have already. Unless order of `relative_roots` matters?

https://github.com/joemasilotti/railsdevs.com/blob/main/config/i18n-tasks.yml#L60-L74

[2022-05-06 14:49] davidwessman commented on #452
It was not included in the first comment on the issue, so I wanted to make sure.
The order should not matter as far as I understand the code.

Will see if I can reproduce it with a test case when I get time 🙂

[2022-05-06 17:03] joemasilotti commented on #452
Sounds good, thanks! The repo I linked to is open source if it helps reproduce.

[2022-05-07 20:20] davidwessman commented on #452
I did some more research on this regarding what to expect from ViewComponents and I am not 100% what we want I18n-tasks to do here. So the current state is using global vs local translations, not using namespaces as we might otherwise do:
https://github.com/github/view_component/blob/main/docs/guide/translations.md

In this example:
[code]
it seems like the docs expect it to translate to:

[code]

[2022-05-07 20:58] davidwessman commented on #452
I found a bug in the use of this option, @joemasilotti does it work with:

[code]

It should probably stay as the documented `relative_exclude_method_name_paths` when there is a new version out.

[2022-05-07 21:09] davidwessman commented on #452
I tried setting up a project with ViewComponent, and the raised errors for a missing translation was:

- `t(".relative_key")` in `app/components/my_component.rb` =>  `en.my_component.relative_key`
- `t(".relative_key")` in `app/components/my_component.html.erb` =>  `en.my_component.relative_key`

So I think it makes sense to rely on adding `app/components` to `relative_roots` and `relative_exclude

[2022-05-08 05:44] #452 closed

[2022-05-08 05:51] glebm commented on #452
Released v1.0.10

[2022-05-09 05:50] joemasilotti commented on #452
Works great for me, thanks for the quick turnaround on this!

[2022-05-13 12:04] wollistik commented on #385
@davidwessman I think I have a similar issue:
ViewComponents (https://viewcomponent.org) is a framework from Github for building reusable view components for use with Rails. One core concept is that code (a simple Ruby class) and view template (ERB file) reside side by side in the same directory.
So the files for a `MyComponent` class would result in
[code]

With the latest release they included a

[2022-05-13 14:40] davidwessman commented on #385
Thank you for great summary and feedback @wollistik
I think this relates to the feedback from palkan in https://github.com/github/view_component/issues/892, e.g. that it works poorly with translation services and similar.

I cannot see how i18n-tasks can support reading translations with custom roots from app/components in a simple way, it will be a large change.

@glebm What do you think about _n

[2022-05-13 16:22] glebm commented on #385
If we can't find a simple way to make this configurable, a plugin/special support for ViewComponent makes sense

One issue I can foresee is that the keys don't seem to share a common prefix (e.g. `components.`), so routing new keys to the correct files automatically in a general way may be tricky. So `pattern_router` won't work well but `conservative_router` should.

[2022-05-15 12:40] davidwessman commented on #419
@yorsant Can we close this issue?

[2022-05-15 12:41] davidwessman commented on #417
@dssjoblom Can you add any example where the variable names get translated?

[2022-05-15 18:28] davidwessman commented on #453
@afdev82 Are these translations in a html file or a javascript file?

[2022-05-15 18:51] davidwessman commented on #409
I cannot recreate this execpt for v0.9.34 when the option did not exist.

- Could it be some gem cache?
- Can you give more information about the environment?

[2022-05-15 18:59] davidwessman commented on #373
@nurbs999 Can you please explain how your translation files looks to work with a key like `welcome message h1`?

[2022-05-15 20:19] davidwessman commented on #373
@mtancoigne Hello!
I tried to recreate this problem, and it seems to be a limitation with pluralization - if you have a pluralized translation you will have to use one of:

- `t("activerecord.models.genus", count: nbr)`
- `t("activerecord.models.genus.one")` in combination with `i18n-tasks use t("activerecord.models.genus")`.

[2022-05-15 20:31] afdev82 commented on #453
It's javascript

[2022-05-16 06:44] davidwessman commented on #453
Then I think you would have to implement a [CustomScanner](https://github.com/glebm/i18n-tasks/wiki/A-custom-scanner-example) to handle a case like this.

[2022-05-16 06:52] afdev82 commented on #453
Ah ok,

in the [Usage search](https://github.com/glebm/i18n-tasks#usage-search) section of the README I read:

I thought that the javascript files were supported by the regexp scanner and it was not needed to implement a custom one.
If I need to implement one for the javascript files it's also fine, could it be clarified in the README which files are supported out of the box?
Thank you!

[2022-05-16 06:54] davidwessman commented on #453
@afdev82
Ah, that makes sense to document.
The existing one probably works for a lot of syntaxes, but I do not think it can handle the Javascript object as parameter.

[2022-05-16 07:01] afdev82 commented on #453
Could it worth to improve the existing one? I think many users could benefit from it.
First I will try to have a look at the custom scanner to fix my issue, I think if I find a solution, maybe it could be integrated later.

[2022-05-16 07:09] davidwessman commented on #453
@afdev82 Yes, that would probably be good 🙂
Could you write some test cases?

[2022-05-16 08:00] nurbs999 commented on #373
I don't have the project running anymore. I will try to reproduce it on my current setup, which is ruby-3.0.2, rails-6.1.4

[2022-05-16 08:49] mtancoigne commented on #373
@davidwessman Thanks for your reply, that's what I do currently. I'll stick with this : it's not really an issue unless I want the model name in JS scripts (as the i18n lib I use don't have the same format for plural forms).

[2022-05-16 16:41] geoffharcourt commented on #409
Hi @davidwessman I'm still confused about what's going on. I checked and I don't have any of the pre-gem versions installed:

[code]

I confirmed I'm using the version associated with my local Ruby installation (MacOS, Ruby 3.1.2):

[code]

And I'm still getting an error when trying to use the flag:

[code]

[2022-05-16 16:53] glebm commented on #409
What does `i18n-tasks --version` say?

[2022-05-16 16:56] geoffharcourt commented on #409
Hi @glebm, sorry for not including that earlier:

[code]

[2022-05-16 17:39] davidwessman commented on #409
How does your i18n-tasks.yml look?

[2022-05-16 18:23] geoffharcourt commented on #409
@davidwessman I'd hope that only the one I'm referencing matters, but here's the one that's normally in place for us (`config/i18n-tasks.yml`, at the bottom is the one we're trying to use):

[code]

and here's the one I'm trying to use via the flag (`config/i18n-tasks.deployment.yml`):

[code]

[2022-05-16 20:06] #419 closed

[2022-05-18 00:49] pcothenet commented on #283
For what it's worth, I was getting this error while trying to use a locale that doesn't exist (I was using `jp` instead of `ja`)

[2022-05-18 11:55] shev-vadim-net commented on #409
I have the same issue. When a config file doesn't exist it shows correct error message
[code]
But when I use the real file path it shows
[code]
I was able to make it work with a simple change, see #455.

[2022-05-18 11:58] davidwessman commented on #409
Ah, I only tested with non-existing files... Good find!

[2022-05-18 13:52] dsimardmtm commented on #387
I fixed the problem by removing all empty translations. Example, if I had:

[code]

I changed it to:

[code]

Also, empty array items can be problematic. So this:

[code]
became :

[code]
I still didn't find the root cause of this problem.

[2022-05-18 14:47] davidwessman commented on #387
@dsimardmtm
We fixed this issue in our team by everyong using libyaml 0.2.5, which is accessible on Mac OS but had to be compiled manually on Debian-based Linux versions. So that is probably why CI works differently.

Check which version you are using by running in `rails console`:

[code]

[2022-05-22 16:46] davidwessman commented on #409
@glebm Closed by #455

[2022-05-22 19:31] geoffharcourt commented on #409
Thanks everyone for the help and the fix!

[2022-05-22 19:31] #409 closed

[2022-05-26 16:32] rscherf opened #456 "Recursively translating yaml's with lists does not work"
What an incredibly useful gem! Thank you for building/maintaining it! 👏

I have a somewhat complex translation yaml schema, which includes lists/sequences. Consider the following simple example:

[code]

Then, when running `i18n-tasks translate-missing`, I receive this (alphabetized for simplicity):

[code]

Is there a mechanism for auto-translating all these keys, including those with a `-` dash

[2022-05-26 16:41] rscherf commented on #456
FWIW, I also tried with various `[]` and `{}`:
[code]

to

[code]

[2022-05-26 20:14] rscherf commented on #456
And after even further testing, there the following does work:

[code]

Properly translates to:

[code]

[2022-05-27 08:39] glebm commented on #456
The translator only handles arrays and strings at the moment

If you'd like to attempt a fix by adding Hash support, the code is here

https://github.com/glebm/i18n-tasks/blob/a2adc3104e87a2b58a09c3e416f5e1151c4c7aca/lib/i18n/tasks/translators/base_translator.rb#L64-L94

[2022-06-11 21:57] alec-c4 opened #460 "Conflict with ActionText"
Hey!
Strange behavior of your gem after adding ActionText to the project - i see following error

[code]

How can i fix it?

[2022-06-14 09:20] fschwahn commented on #395
you can do the following to pick up variables from dotenv:
[code]

[2022-06-14 10:36] fschwahn opened #461 "I18n::Tasks::PluralKeys#non_plural_other? inadvertently missing plural keys"
This code was in #312 added to not falsely report "lonely" other keys:

https://github.com/glebm/i18n-tasks/blob/5a6b02bdedab49e6ec05131e03d2ad4cd47b34bd/lib/i18n/tasks/plural_keys.rb#L60-L62

However, this caused an issue for us. We did the following:
1. Add `foo.one` in base locale, use `translate-missing` to add it to all locales
2. Add `foo.other` in base locale, use `translate-missing` to add

[2022-06-14 14:43] alec-c4 commented on #460
Yep, i did and error is gone. Should we add this line to config by default?

[2022-06-14 14:47] davidwessman commented on #460
https://github.com/glebm/i18n-tasks/blob/main/templates/config/i18n-tasks.yml#L76
You can make a PR with the suggestion, then we'll see what the maintainer says 🙂

[2022-06-15 06:07] glebm commented on #395
https://github.com/glebm/i18n-tasks/blob/105c0f4bddebdab7a840cb55baa9be6f909adedf/lib/i18n/tasks/configuration.rb#L66-L68

[2022-06-15 06:11] glebm commented on #460
Yeah I don't mind adding it by default

[2022-06-15 06:16] dssjoblom commented on #395
@glebm ok, it's been there for years, apparently :D I think this should be mentioned in the README.md though, as it's only obvious from reading the source.

[2022-06-15 06:32] dssjoblom commented on #417
@davidwessman yes, sorry for the late reply on this. You can try:

[code]
and `i18n-tasks translate-missing --backend=deepl --from=en es`.

It should yield:

[code]

[2022-06-15 07:45] #460 closed

[2022-06-15 07:48] #461 closed

[2022-06-30 22:38] mltsy commented on #339
I believe this is supported as follows:

[code]

And if they're all the same, you should be able to use YAML inheritance, something like:

[code]

[2022-06-30 22:56] mltsy opened #463 "Feature: Annotate auto-translated values"
When running `i18n-tasks translate-missing` it would be great if there were an option to annotate the resulting values with a comment like `# translated by google` so that the user can later search for and refine those when they have the resources.

It's almost possible to do this with awk (`translate-missing -f yaml | awk '{print $0" # translated by google"}'`), but with the yaml keys for hash va

[2022-08-02 03:27] cantin opened #464 "Plural Default Value can't be detected"
With
[code]

Run `i18n-task add-missing`

### Excepted
In `locales/en.yml`
[code]

### Actual
[code]

[2022-08-02 03:46] cantin opened #465 "HAML AST Scanner"

[2022-08-02 07:17] glebm commented on #465
Neat, but does this approach provide the correct line numbers and support `i18n-tasks-use` comments?

[2022-08-02 07:18] glebm commented on #464
Yeah that isn't currently supported

[2022-08-02 07:43] davidwessman commented on #465
@cantin can you try to add tests similar to https://github.com/glebm/i18n-tasks/blob/main/spec/used_keys_erb_spec.rb which I added for the AST-scanner for ERB?

[2022-08-02 08:36] cantin commented on #465
Hey, @glebm, thanks for the reply. So far in my test the line numbers are correct because the compiled content contains exact same line breaks.
Unfortunately the `i18n-task-use` comment is not. it got removed in the compiled content. I guess we need to extend the `Haml::Compiler#compile_haml_comment` to retain the comment.

[2022-08-02 08:37] cantin commented on #465
Hey @davidwessman ,thanks for the reply. Nice spec, I'll look into it.

[2022-08-04 02:20] cantin commented on #453
One approach for the JS scanner is using JS AST parser like `@babel/parser` and `@babel/traverse` to traverse and find the items.
Example here:
[code]

[2022-08-08 19:57] sylvieed opened #468 "Feature: Translate a group of messages instead of all of them"
Currently, `translate-missing` can only translate _all_ of the missing messages in your locales at once. When translating a lot of messages (like when adding a new language), I prefer to go through them in groups.

I've implemented this locally by adding a `-p` pattern option to the `translate-missing`, `add-missing`, and `missing` commands. Are you open to a PR?

[2022-08-08 23:15] glebm commented on #468
Sure, thanks :+1:

[2022-08-09 23:17] softwaregravy opened #470 "Bug(?) `sign_in` being used, getting removed"
I am in a Rails 7 app with `i18n-tasks (1.0.11)` in my Gemfile Lock. and I am running `i18n-tasks remove-unused --keep-order`

After running this, my app fails with `translation missing: en.shared.landing_layout.sign_in`

The key is indeed removed, per git diff:
[code]

My Rails app has devise views generated.  The stack trace:
[code]

The users/sign_in renders the layout. (app/views/devise/sessio

[2022-08-11 08:48] davidwessman commented on #470
I think there might be a bug related to relative translations in partials vs the Rails behaviour.
To avoid the issues now you can use the absolute path to the translation.

[2022-08-15 10:20] timkrins commented on #281
Has anyone come up with a clever way of managing the 'contexts' of the strings-to-be-translated?
I was considering maybe using a similar method of adding context or notes via comments, similar to the `# i18n-tasks-use` strategy for marking usages.
Like, you could have a `<%# i18n-tasks-comment c('en.translation.key', 'Here is a quick note about how this translation key is used in English') %>` tha

[2022-08-16 09:39] timkrins commented on #470
I haven't iused relative roots myself, but have you set up the relative roots configuration in `i18n-tasks.yml`?
https://github.com/glebm/i18n-tasks#relative-keys
https://github.com/glebm/i18n-tasks/blob/03bd88f5f4e69e236a4701d77ce7d78ad2c09ad7/templates/config/i18n-tasks.yml#L59

[2022-08-18 22:27] Andriy-Access commented on #283
Also had an issue for locales, that don't exist, but also had the same issue when tried translating from `en` to `en`.
Had to Monkey patch to catch an exception at `lib/i18n/tasks/translators/base_translator.rb#translate pairs.`
For me it looks like it doesn't handle exception from EasyTranslate properly.

Environment:
os: `macOS arm`
ruby: `2.7.1`
rails: `6.0.4.8`
easy_translate: `0.5.1`
i18n-tas

[2022-08-29 18:01] brad-ellert opened #472 "Parser issue"
Whenever I run i18n-tasks, I get the following warning:
[code]
cf. https://github.com/rubocop/rubocop/issues/9700

[2022-09-12 19:26] kleinjm commented on #273
I had this issue come up when I removed a key in my `en.yml` file but it was still present in all the other language files. Running `i18n-tasks remove-unused` solved the issue.

I think the problem here is just a very vague error message.

[2022-09-15 15:19] krtschmr commented on #409
@glebm yeah, sorry, i was "AFK" :-)

`bundle exec i18n-tasks  --config config/i18n-js-tasks.yml normalize` this now works for me aswell.

thanks everybody for fixing my oversight.

💪🏿

[2022-09-18 06:35] #468 closed

[2022-09-18 12:10] #464 closed

[2022-09-26 08:30] nov opened #473 "defining `one`, `other` is detected as missing keys."
with the latest i18n-tasks gem, defining those keys

[code]

[code]

then `others` are detected as missing, even when it's not actually required by application.

[code]

[2022-09-26 08:47] nov commented on #473
probably fixing https://github.com/glebm/i18n-tasks/issues/464 caused another bug.

[2022-09-26 10:37] glebm commented on #473
I am assuming you have `foo.other` defined in `en` but not `ja`, right?

[2022-09-26 10:41] nov commented on #473
no, I'm not defining `foo.other` anywhere.

[2022-09-26 10:44] nov commented on #473
Interestingly, with

[code]

`other` is reported as missing.

[code]

no missing keys.

[2022-09-26 10:55] glebm commented on #473
How're you using this key?

[2022-09-26 11:02] nov commented on #473
actually, we're overwriting `datetime.distance_in_words.x_days.one` and rails itself uses it via `time_ago_in_words` helper method.

plus, we have specs for i18n strings.
our missing key spec (the first one) is failing after update i18n-tasks v1.0.11 to v1.0.12.

[code]

[2022-09-26 11:18] nov commented on #473
this is the most simple rails app including single i18n string `welcome_message.one`.
https://github.com/nov/i18n_demo

you'll see the missing `other` by running `bundle exec i18n-tasks missing`.

[2022-09-26 14:43] patrickarnett commented on #473
I'm seeing something similar when only `other` is defined.
[code]
`some_key.other` is flagged as unused and `some_key.one` as missing.

[2022-09-27 13:24] raivil opened #475 "Normalization might fail if there are lists with empty items"
Hey,
Not sure if this is a bug but I've experienced an issue with normalization failing when running specs on CI and wanted to share it here.
New values such as below were added to `en` and `pt` translations.
[code]

Note the empty list item (present on both languages).

That empty/blank item was added by mistake, and on development side I18n passed all the health/normalization checks. On CI it wa

[2022-09-28 05:26] glebm commented on #475
If the results on CI are different from the local results, it is usually because libyaml is a different version.

[2022-09-28 05:26] #475 closed

[2022-09-28 05:55] davidwessman commented on #475
@raivil you can check these instructions:
https://github.com/glebm/i18n-tasks/issues/355#issuecomment-717846572

[2022-10-05 13:13] otagi commented on #383
I'm using the pipe-operator, and the multi-lines are also concatenated into a single one (without space: `…</p><p>…`) on the target locale when I run e.g. `i18n-tasks translate-missing`.

[2022-10-05 15:05] davidwessman commented on #383
Could you add an example?

[2022-10-06 10:22] shaikraheem141 opened #476 "export missing keys to csv"
when I'm working with the missing keys or any other command that is available on this gem, I just able to see output on command line.

but when I have large no.of records, then it is very difficult to watch the screen of commandline. instead we should have a HTML page kind of design or should be able to export to CSV.

[2022-10-27 01:49] basicfeatures opened #480 "Incomplete translations with Google Translate"
i18n-tasks (1.0.12) and easy_translate (0.5.1) with Google Translate API (credit card added), only half of my language files seem to get translated:
[code]
Am I missing something obvious?

Many thanks!

[2022-10-27 03:30] glebm commented on #480
Sounds like a bug either in i18n-tasks or in easy_translate.

Perhaps you can print out the values being passed around in https://github.com/glebm/i18n-tasks/blob/main/lib/i18n/tasks/translators/base_translator.rb to debug this?

[2022-10-27 19:13] mockdeep opened #481 "False positive with `default` localization format"
When we have a `default` localization format we can use it without needing to pass the key:

[code]

Then:

[code]

However, `i18n-tasks` reports this as an unused key.

[2022-10-28 04:09] basicfeatures commented on #480
Yes, I will get around to it ASAP 👍

[2022-10-28 22:12] basicfeatures commented on #480
I can confirm that https://github.com/glebm/i18n-tasks/blob/main/lib/i18n/tasks/translators/base_translator.rb#L44-L46 returns a proper, full list of translated keys.

On subsequent tries I've been getting:
[code]

At https://github.com/seejohnrun/easy_translate/blob/master/lib/easy_translate/request.rb#L38-L50 I get:
[code]

[2022-11-03 08:50] JordanMooreNZ opened #482 "Use hints with dynamic keys creates a missing key"
Using a dynamic key in a use hint works for addressing dynamic keys for the `unused` task but it creates a missing key for the `missing` task e.g.

[code]
running `i18n-tasks missing` results in
[code]

This is not resolved by adding them to the `ignore_missing` in the config either:
[code]

Ideally dynamic keys used in the use hints should not count as a separate missing translation key, and if t

[2022-11-03 09:19] davidwessman commented on #482
The `i18n-tasks-use` is not that advanced I think, so for now you need to add all possible options that can be used, without dynamic keys.

[2022-11-08 17:11] basicfeatures commented on #480
Actually that's not it :(